localhost {
    forward_auth pocket-id:1411 {
        uri /api/auth/verify
        copy_headers X-Pocketid-User X-Pocketid-Email X-Pocketid-Uid
    }

    reverse_proxy watcher-app:8080
}

auth.localhost {
    reverse_proxy pocket-id:1411
}