@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --bg-main: #1c1e1f;
  --bg-sec: #242627;
  --border: #27292b;
  
  --accent: #2f3133;
  --accent-up: #00d084; 
  --accent-down: #ff4757; 

  --text-main: #e1e3e5; 
  --text-muted: #8b9298; 

  --font-smooth: 'Inter', system-ui, -apple-system, sans-serif;
  
  --text-xs: 0.75rem;   
  --text-sm: 0.875rem; 
  --text-base: 1rem;    
  --text-lg: 1.125rem;  
  --text-xl: 1.25rem;   
  --text-2xl: 1.5rem;   

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-dark-main: #1a1a1a;
  --bg-dark-sec: #131313;
  --bg-dark-accent: #181818;
  --bg-dark-border: #3b3b3b70;

  --bg-light-main: #dedede;
  --bg-light-sec: #dddddd;
  --bg-light-accent: #e7e7e7;
  --bg-light-border: #d1d1d1;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}